/* Containers and each semantic element */
.container {
	display: block;
	margin: 0 auto;
	max-width: 960px
}

.header-cont { background-color: $secondary-color; }

.main-cont { background-color: transparent; }

.footer-cont { background-color: $primary-color; }

.main-head {
    margin: 0 auto;
	padding: 30px 0 0;
	background-color: $secondary-color;
}

.main-content {
	display: block;
    margin: 0 auto;
	padding: 0 0 30px;
	border-top: 1px solid white;
}

.main-footer {
    margin: 0 auto;
	padding-top: 30px;
	background-color: $primary-color
}

.header-navigation { 
	clear: both;
	margin: 0 auto;
	background-color: $primary-color;
}


.copyright-footer { 
	margin: 0 auto;
	padding: 5px 0 5px;
	background-color: $accent-color; 
}
