/* Setting to light grey, to avoid content background 'flooding' due to plain white BG*/
body {
	background-color: $lightest-bg-color;
	margin: 0;
}

/* Wrapper for boxed layout */
.wrapper {
	max-width: 1200px;
	margin: 0 auto;
	background-color: white;
}

/*  Row  */
.row {
	clear: both;
	padding: 0px;
	margin: 20px 0 0;
	overflow: hidden;
}

/*  Column  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 2%;
	width: 100%;
}
.col:first-child { margin-left: 0; }


/*  Column Sizes  */
.one-half {
	width: 48.5%;
}

.one-third {
	width: 32%;
}

.one-fourth {
	width: 23.5%;
}

/* Tablet Break - Fourths become halfs, otherwise Full Width Columns */

@media only screen and (max-width: 966px){

.one-half {
	width: 97%;
}

.one-third {
	width: 97%;
	margin: 1% 0 1% 0%;
}

.one-fourth {
	width: 48.5%;

	&:nth-child(3){
		margin-left: 0;
	}
}

}

/* Mobile Break - Full Width Columns */

@media only screen and (max-width: 509px) {
	.col { 
		margin: 1% 0 1% 0%;
	}

	.one-half, 
	.one-third, 
	.one-fourth { width: 100%; }
}
