@mixin uparrow($border-color) {
  width: 0; 
  height: 0; 
  margin: 0 auto;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid $border-color;
  clear: both;
}

@mixin socialsprite($position){
	width: 53px;
	height: 53px;
	background: url("images/social-icon-sprite.png") no-repeat;
	background-position: $position;
	display: inline-block;
}

@mixin bespokesprite($position){
	width: 59px;
	height: 53px;
	background: url("images/bespoke-icon-sprite.png") no-repeat;
	background-position: $position;
	display: inline-block;
}
