body, button {
	font-family: 'PT Sans', sans-serif;
	color: $primary-color;
}

header {
	color: $light-primary-color;
}

footer {
	color: white;
}

a {
	color: #999999;
	text-decoration: none;
}

h3 {
	color: $accent-color;
	margin-bottom: 0.5em;
	font-size: 1.5em;
	font-weight: normal; 
}
