@import url(https://fonts.googleapis.com/css?family=PT+Sans);

$primary-color: #333333;
$light-primary-color: #999999;

$search-bg-color: #666666;

$secondary-color: #000000;

$tertiary-color: #cacaca;

$lightest-bg-color: #f0f0f0;

$accent-color: #ff3334;
$light-accent-color: #b20204;
