/* Blockquote styling */

blockquote {
	background-color: $lightest-bg-color;
	color: $search-bg-color;
	width: 100%;
	padding: 15px 10px 15px 10px;
	margin: 0;
	font-size: 1.4em;
	font-style: italic;

	&:before {
		    display: block;
    position: relative;
    color: #cacaca;
    content: open-quote;
    font-size: 10em;
    line-height: 0.1em;
    margin-right: 0.25em;
    top: 88px;
    left: -40px;

	}

	p {
		display: inline-block;
		margin: -1em 0 0 3.5em;
	}

}

@media only screen and (max-width: 480px) {
	blockquote {
		font-size: 1.2em;
	}
}