/* Footer styling */

.footer-menu {
	float: left;
	list-style-type: none;
	line-height: 30px;
	padding: 0 50px 0 20px;
	margin: 0 0 10px 0;
	font-size: 14px;

	a {
		color:white;
	}
}


.newsletter-signup {
	float: right;
	font-size: 14px;

	input[type=text] {
		width: 180px;
		float: right;
		height: 35px;
		padding: 6px;
		border: none;
		font-family: 'PT Sans', sans-serif;
		font-style: italic;
		color: $light-primary-color;
		background-color: $light-primary-color;
		border-top: 2px solid $search-shadow-color;
    	border-left: 2px solid $search-shadow-color;
    	border-right: none;
    	border-bottom: none;
    	box-sizing: border-box;
    }
}

.social-links {
	float: right;
	max-width: 133px;
	margin: 0 25px 0 25px;

	.icon-wrap {
		display: inline;
	}

	.facebook-icon {
		@include socialsprite(0 0);
	}
	.twitter-icon {
		@include socialsprite(-53px 0);
	}
	.googleplus-icon {
		@include socialsprite(-106px 0);
	}
	.pinterest-icon {
		@include socialsprite(-159px 0);
	}


}

.copyright-links {
	font-size: 14px;
	text-align: center;
	padding: 5px;

	.copyright-info{
		float: left;
		width: 30%;
	}

	.award-winning-link{
		float: right;
		width: 30%;


		a {
			text-decoration: underline; 
		}
	}

	.top-of-page-link{
		width: 30%;
		margin: 0 auto;
		display: inline-block;
	}
}


@media only screen and (max-width: 766px){
	.footer-menu {
		font-size: 1.7vw;
		padding: 0 20px 0 20px;
	}

	.social-links{
		margin: 0;
	}
}


@media only screen and (max-width: 686px){

	.social-links{
		max-width: none;
		float: none;
		text-align: center;

		.icon-wrap {
			width: 24%;
			display: inline-block;
		}


		a {
			margin: 0;
		}	
	}

	.sitemap-accordion {
		padding: 10px 0 10px;
		text-align: center;

		.footer-menu{
			width: 49%;
			padding: 0;
			margin: 0;
			font-size: 12px;
		}

		ul { max-height: 0; overflow:hidden; transition: max-height 1s ease-out; }
		.newsletter-signup {
			max-height: 0; overflow:hidden; transition: max-height 1s ease-out; 
		}

		h5 {
			margin: 0;

			&:after { content: "Sitemap  +";}
		}

		.newsletter-signup{
			float: none;
			width: 100%;
			text-align: center;
			margin: 0 auto;

			input[type=text]{
				float: none;
				width: 80%;
				margin-left: 4px;
			}

			.newsletter-submit {
    			float: none;
			}
		}
	}

	.sitemap-open {

		h4:after {
			content: "Sitemap -";
		}

		ul { 
			height:auto; 
			max-height: 500px; 
			transition: max-height 0.5s ease-in !important;
		}

		.newsletter-signup {
			max-height: 500px;
		}

	}

	.copyright-links{

		.award-winning-link {
			float: none;
			width: 50%;
			margin: 0 auto;
		}

		.copyright-info{
			float: none;
			width: 50%;
			padding: 10px 0;
			margin: 0 auto
		}
	}
}

