.logo {
	float: left;
	margin-bottom: 35px;
}

.search-area{

	input[type=text] {
		max-width: 175px;
		width: 175px;
		height: 25px;
		padding: 6px;
		margin: 0 0 0 10px;
		border: none;
		font-family: 'PT Sans', sans-serif;
		font-style: italic;
		color: $light-primary-color;
		background-color: $search-bg-color;
		border-top: 2px solid $search-shadow-color;
    	border-left: 2px solid $search-shadow-color;
    	border-right: none;
    	border-bottom: none;
	}

	::placeholder {
		color: $tertiary-color;
		opacity: 0.5;
	}
	position:relative;
	float: right;

	.search-button {
		font-size: 20px;
		position: relative;
		border: none;
		background-color: transparent;
   		color: $secondary-color;
    	right: 35px;
   		top: 2px;
	}
}

.account-links {
	float: right;
	margin-top: 9px;
	font-size: 14px;

	li {
		display: inline;

		&:not(:last-child):after {
			content: "|";
			padding: 0 5px 0 10px;
		}

	}

	i {
		font-size: 12px;
	}
}

.main-nav {
	font-color:$light-primary-color
}

.main-menu{
	padding: 15px;

	li {
		display: inline;
	}
	a {
		padding: 15px;
	}
}
