.logo {
	float: left;
	margin-bottom: 35px;
}

.search-area{

	input[type=text] {
		max-width: 175px;
		width: 175px;
		height: 25px;
		padding: 6px;
		margin: 0 0 0 10px;
		border: none;
		font-family: 'PT Sans', sans-serif;
		font-style: italic;
		color: $tertiary-color;
		background-color: $search-bg-color;
		border-top: 2px solid $search-shadow-color;
		border-left: 2px solid $search-shadow-color;
		border-right: none;
		border-bottom: none;
	}

	::placeholder {
		color: $tertiary-color;
		opacity: 0.5;
	}
	position:relative;
	float: right;

	.search-button {
		font-size: 20px;
		position: relative;
		border: none;
		background-color: transparent;
		color: $secondary-color;
		right: 35px;
		top: 2px;
	}
}

.account-links {
	float: right;
	margin-top: 9px;
	font-size: 14px;

	li {
		display: inline;

		&:not(:last-child):after {
			content: "|";
			padding: 0 5px 0 10px;
		}

	}

	i {
		font-size: 12px;
	}
}

.account-links-mobile {
	display: none;
}


.main-nav {
	font-color:$light-primary-color
}

.main-menu{
	padding: 10px;
	margin: 0 auto;
	font-size: 0;

	li {
		display: inline;
		font-size: 1rem;

		a:hover, a:active, .current{
			background-color: $secondary-color;
		}
	}

	a {
		padding: 10px 20px 10px 20px;
	}
}

.main-menu-icon {
	display: none;
}

@media only screen and (max-width: 966px) {

	.main-menu {
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
		text-align: center;
		padding: 0 10px 0 10px;

		li {
			width: 20%;
		}

		a {
			padding: 10px 0px 10px 0px;
			width: 100%;
			display: inline-block;
		}
	}
}

@media only screen and (max-width: 686px) {

	.top-header {
		text-align: center;
	}

	.logo{
		float: none;
		margin-bottom: -20px;
	}

	.account-links{
		display: none;
	}

	.account-links-mobile {
		display: block;
		margin-left: -40px;
	}

	.search-area {
		float: right;
		text-align: right;
		top: 38px;
		left: 20px;
		width: 80%;

		input[type=text]{
			height: 20px;
			width: 150px;
		}
	}

	.main-menu {
		display: block;
		max-height: 0; 
		overflow:hidden; 
		transition: max-height 1s ease-out; 
	}

	.menu-open {
		height:auto; 
		max-height: 500px; 
		transition: max-height 0.5s ease-in !important;
	}

	.main-menu-icon{
		display: block;
		padding: 12px 20px 12px 20px;
	}


}
