/* Styling for */

.hero-image {
	background-image: url("images/wood-fencebg.jpg");
	height: 240px;
	margin: 0 auto;
	text-align: center;
}

.hero-block-text {
	margin: 0 auto;
	margin-top: 30px;
    width: 50%;
	padding: 10px 10px 40px 10px;
	background-color: rgba(0, 0, 0, 0.6);
	color: white;
	font-size: 2rem;
	text-align: center;
}
