/* Styling for */

.hero-image {
	background-image: url("images/wood-fencebg.jpg");
	height: 220px;
	margin: 0 auto;
	text-align: center;
}

.hero-block-text {
	margin: 0 auto;
	margin-top: 30px;
    width: 50%;
	padding: 10px 10px 40px 10px;
	background-color: rgba(0, 0, 0, 0.6);
	color: white;
	font-size: 2rem;
	text-align: center;
}

.read-more-box {
	text-align: center;
	font-size: 15px;

	.read-more-text {
		text-align:center; 
		border-bottom: 1px solid $tertiary-color; 
		line-height:0.1em; 
		margin:10px 0 20px;
		width:100%;
		a {
			color: $accent-color;
		}
	}

	.lightbulb-icon {
		@include bespokesprite(0 0);
	}
	.warning-icon {
		@include bespokesprite(-59px 0);
	}
	.dog-icon {
		@include bespokesprite(-118px 0);
	}
	.camera-icon {
		@include bespokesprite(-177px 0);
	}

	.hide-divider{
		background: white;
		padding: 0 5px;
	}
}

.cta-section {
	text-align: center;
	margin: 0 0 25px 0;

	.cta-paragraph {
		margin: 0 auto;
		width: 50%;
		font-size: 20px;
	}

	.call-to-action {
		top: 0px;
		margin: 20px;
	}
}

@media only screen and (min-width: 966px){

	.image-float{
		float: none;
	}

	.title-image-flex{
		display: flex;
		flex-direction: column;
	}

	.flex-title{
		order: -1;
	}

}


@media only screen and (max-width: 966px){

	.hero-image {
		height: 200px;
	}

	.hero-block-text {
		font-size: 1.6em
	}

	.image-float{
		float: left;
		margin-right: 20px;
		width: 40%;
	}

	.title-image-flex{
		display: block;
		padding-top: 10px;
	}

	.flex-title{
		margin-top: 10px;
		font-size: 3vw;
	}

	.flex-description{
		font-size: 2vw;
	}

	.cta-section {
		.cta-paragraph {
		width: 85%;
		}
	}
}

@media only screen and (max-width: 686px){

	.hero-image {
		height: 180px;
	}

	.hero-block-text {
		width: 70%;
		font-size: 1.4rem;
	}

	.cta-section {

		.cta-paragraph{
			width: 95%;
		}
	}



}

@media only screen and (max-width: 480px){

	.hero-block-text {
		width: 70%;
		font-size: 1.2rem;
	}

	.image-float{
		float: none;
		margin-right: 0;
		width: 80%;
	}

	.title-image-flex{
		display: block;
		padding-top: 10px;
	}

	.flex-title{
		margin-top: 10px;
		font-size: 1.3em;
	}

	.flex-description{
		font-size: 1em;
	}
}