/* Styling for */

.hero-image {
	background-image: url("images/wood-fencebg.jpg");
	height: 240px;
	margin: 0 auto;
	text-align: center;
}

.hero-block-text {
	margin: 0 auto;
	margin-top: 30px;
    width: 50%;
	padding: 10px 10px 40px 10px;
	background-color: rgba(0, 0, 0, 0.6);
	color: white;
	font-size: 2rem;
	text-align: center;
}

.read-more-box {
	text-align: center;
	font-size: 15px;

	.read-more-text {
		text-align:center; 
		border-bottom: 1px solid $tertiary-color; 
		line-height:0.1em; 
		margin:10px 0 20px;
		width:100%;
		a {
			color: $accent-color;
		}
	}

	.lightbulb-icon {
		@include bespokesprite(0 0);
	}
	.warning-icon {
		@include bespokesprite(-59px 0);
	}
	.dog-icon {
		@include bespokesprite(-118px 0);
	}
	.camera-icon {
		@include bespokesprite(-177px 0);
	}

	.hide-divider{
		background: white;
		padding: 0 5px;
	}
}

.cta-section {
	text-align: center;
	margin: 0 0 25px 0;

	.cta-paragraph {
		margin: 0 auto;
		width: 50%;
		font-size: 20px;
	}

	.call-to-action {
		top: 0px;
		margin: 20px;
	}
}
